// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$palette: (
    50: #e0f1f3,
    100: #b3dde0,
    200: #81c8cc,
    300: #4eb3b6,
    400: #29a2a4,
    500: #0b9292,
    600: #0a8584,
    700: #0a7573,
    800: #0d6563,
    900: #0d4a46,
    A100: #aafffd,
    A200: #60ffff,
    A400: #00f7fe,
    A700: #00c9cf,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
