<div class="navbar-container" [class.navbar-is-mobile]="isMobile()">
    <mat-toolbar color="primary" class="navbar-toolbar ">
        <!-- <button mat-icon-button [style.display]="isMobile ? 'block' : 'none'"
            aria-label="Menu button" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button> -->
        <btn-component [style.display]="hasBackBtn() ? 'block' : 'none'"
            [routerLink]="'/login'"
            (click2)="signupComponent.setData()">
            Back
        </btn-component>
        <h1 class="navbar-app-name">DocManager</h1>
        <span class="example-spacer"></span>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="navbar-tabnav" [style.display]="isMobile() || accounting() ? 'none' : 'block'"
            [backgroundColor]="'primary'">
            @for (link of links; track link) {
                <!-- <a mat-tab-link (click)="activeLink = link.path" [active]="activeLink == link.path" [routerLink]="link.path"
                    routerLinkActive="active" class="navbar-link text-capitalize">
                    {{link.path}}
                </a> -->
                <a mat-tab-link [active]="activeLink().endsWith(link.path!)" [routerLink]="link.path"
                    routerLinkActive="active" class="navbar-link text-capitalize">
                    {{link.path}}
                </a>
            }
        </nav>

        <toggle-theme (collapseNavbar)="isMenuCollapsed = true" class="ms-auto"></toggle-theme>
        <user-menu *ngIf="isAuthenticated()" class="ms-2"></user-menu>

        <!-- <div class="position-relative">
            <login-control class="position-absolute"></login-control>
        </div> -->
        <!-- <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->

        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
    <mat-drawer-container class="navbar-sidenav-container" [hasBackdrop]="true" [style.marginTop.px]="isMobile() ? 56 : 0">
    <!-- <mat-drawer-container class="navbar-sidenav-container" [hasBackdrop]="true" > -->
        <mat-drawer #drawer [mode]="isMobile() ? 'over' : 'side'" fixedInViewport="isMobile" fixedTopGap="56">
            <mat-nav-list>
                @for (link of links; track link) {
                    <a mat-list-item routerLink="." class="text-capitalize">{{link.path}}</a>
                }
            </mat-nav-list>
            <!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.path" [active]="activeLink == link.path"
                [routerLink]="link.path" routerLinkActive="active" class="text-capitalize">
                {{link.path}}
            </a>
        </nav> -->
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet #routeroutlettag
                 (activate)="onRouterOutletActivate($event)"></router-outlet>
            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
            <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        </mat-drawer-content>
    </mat-drawer-container>
</div>
