<div>
    <form [formGroup]="loginForm" color="primary" onsubmit="return false"
        class="was-validated rounded-4 py-4 px-4 mt-3 mx-auto">
        <mat-form-field class="w-100">
            <mat-label>Email address</mat-label>
            <input type="text" matInput
                [formControl]="getCtrl('email')" placeholder=""
                aria-describedby="emailHelp" autocomplete="email"
                #firstItem>
            <button type="button" [class.invisible]="!isSet('email')" matSuffix mat-icon-button
                aria-label="Clear" (click)="set('email', '')"
                [disabled]="loading()" class="w-3 px-0">
                <mat-icon>close</mat-icon>
            </button>
            <div id="emailHelp" class="form-text d-none">
                We'll never share your email with anyone else. Email address must be unique.
            </div>
        </mat-form-field>
        <mat-error style="height: auto" color="warn" *ngIf="getError('email')">{{getError('email')}}</mat-error>
        <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input [attr.type]="pwdState.type[pwdState.state]" matInput
                [formControl]="getCtrl('password')" placeholder="********"
                aria-describedby="passwordHelp" autocomplete="off">
            <button type="button" [class.invisible]="!isSet('password')" matSuffix mat-icon-button
                aria-label="Clear" (click)="set('password', '')"
                [disabled]="loading()" class="btn-clear">
                <mat-icon>close</mat-icon>
            </button>
            <button type="button" *ngIf="pwdState.state == 0" matSuffix mat-icon-button
                aria-label="pwdState.alt[pwdState.state]" (click)="togglePwdState()"
                [disabled]="loading()" class="btn-pwd">
                <mat-icon>visibility</mat-icon>
            </button>
            <button type="button" *ngIf="pwdState.state == 1" matSuffix mat-icon-button
                aria-label="pwdState.alt[pwdState.state]" (click)="togglePwdState()"
                [disabled]="loading()" class="btn-pwd">
                <mat-icon>visibility_off</mat-icon>
            </button>
            <div id="passwordHelp" class="form-text d-none">
                Minimum 8 characters and at least one digit, one special
                character and one capital letter.
            </div>
        </mat-form-field>
        <mat-error *ngIf="getError('password')">{{getError('password')}}</mat-error>
        <mat-form-field class="w-100">
            <mat-label>Collection</mat-label>
            <input type="text" matInput [formControl]="getCtrl('collection')" placeholder=""
                aria-describedby="collectionHelp" autocomplete="on">
            <button type="button" [class.invisible]="!isSet('collection')" matSuffix mat-icon-button
                aria-label="Clear" (click)="set('collection', '')"
                [disabled]="loading()" class="w-3 px-0">
                <mat-icon>close</mat-icon>
            </button>
            <div id="collectionHelp" class="form-text d-none">
                Name of the collection to display. The collection name must be unique. You can use a format like 'your-company/collection-name'.
            </div>
        </mat-form-field>
        <mat-error *ngIf="getError('collection')">{{getError('collection')}}</mat-error>
        <btn-component type="button" [disabled]="!loginForm.valid || loading()" (click2)="loginForm.valid && login()" class="w-100 my-2">
            Log in
        </btn-component>
        <div class="d-flex justify-content-between align-items-baseline">
            <btn-component type="button" [disabled]="loading()" class="cls-forgotpwd">
                Forgot password
            </btn-component>
            <btn-component type="button" (click2)="setData()" [routerLink]="'/signup'"
                [disabled]="loading()" class="cls-signup m-1">
                Sign up
            </btn-component>
        </div>
    </form>
</div>
