@use "@angular/material" as mat;

$heading-font-family: "'Montserrat', sans-serif";

$docman-typography: mat.define-typography-config(
    $headline-1: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 6rem
    ),
    $headline-2: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 3.75rem
    ),
    $headline-3: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 3rem
    ),
    $headline-4: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 2.125rem
    ),
    $headline-5: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 1.5rem
    ),
    $headline-6: mat.define-typography-level(
        $font-family: $heading-font-family,
        $font-size: 1.25rem
    ),
);

/*

Name	    Description
headline-1	One-off header, usually at the top of the page (e.g. a hero header).
headline-2	One-off header, usually at the top of the page (e.g. a hero header).
headline-3	One-off header, usually at the top of the page (e.g. a hero header).
headline-4	One-off header, usually at the top of the page (e.g. a hero header).
headline-5	Section heading corresponding to the <h1> tag.
headline-6	Section heading corresponding to the <h2> tag.
subtitle-1	Section heading corresponding to the <h3> tag.
subtitle-2	Section heading corresponding to the <h4> tag.
body-1	    Base body text.
body-2	    Secondary body text.
caption	    Smaller body and hint text.
button	    Buttons and anchors.

$my-custom-level:
    mat.define-typography-level(
        $font-family: Roboto,
        $font-weight: 400,
        $font-size: 1rem,
        $line-height: 1,
        $letter-spacing: normal,
    ),

*/
