<btn-component mat-raised-button [matMenuTriggerFor]="menu" aria-label="User menu" degree="'0'" type="button">
    <!-- <button mat-raised-button [matMenuTriggerFor]="menu" aria-label="User menu"> -->
        <mat-icon>{{ icon }}</mat-icon>
    <!-- </button> -->
    <!-- <img src="assets/svg/sun-fill.svg" alt="alt"
        title="title" width="32" height="24" /> -->
</btn-component>
<mat-menu #menu="matMenu">
    <button *ngIf="isOwner()" mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Add users</span>
    </button>
    <button *ngIf="isOwner()" mat-menu-item disabled="!hasGroup()">
        <mat-icon>person_remove</mat-icon>
        <span>Remove user</span>
    </button>
    <button mat-menu-item>
        <mat-icon [style.color]="'red'">account_circle_off</mat-icon>
        <span>Remove account</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>manage_accounts</mat-icon>
        <span>Account management</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>
