<btn-component mat-raised-button [matMenuTriggerFor]="menu" aria-label="User menu" degree="'0'" type="button">
    <mat-icon>{{ icon }}</mat-icon>
</btn-component>
<mat-menu #menu="matMenu">
    <button *ngIf="isOwner()" (click)="users()" mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Add/remove users</span>
    </button>
    <button *ngIf="isOwner()" mat-menu-item disabled="!hasGroup()">
        <mat-icon>person_remove</mat-icon>
        <span>Remove user</span>
    </button>
    <button *ngIf="isOwner()" mat-menu-item (click)="removeAccount()">
        <mat-icon [style.color]="'red'">account_circle_off</mat-icon>
        <span>Remove account</span>
    </button>
    <button *ngIf="isOwner()" mat-menu-item (click)="accountManagement()">
        <mat-icon>manage_accounts</mat-icon>
        <span>Account management</span>
    </button>
    <button mat-menu-item (click)="logout('')">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>
