// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;



// Plus imports for other components in your app.
@use "./app/account/login/login-theme" as login;
//@use "./app/account/signup/signup-theme" as signup;
@use "./infrastructure/components/btn/btn-theme" as btn;

/* You can add global styles to this file, and also import other style files */

@use "../src/styles/themes/light";
// @use "../src/styles/themes/dark";
// @use "../src/styles/components";
@use "../src/styles/typography/config" as typography;

@use "SASS:map";
@use '../node_modules/@ngneat/hot-toast/src/styles/styles.scss';

@include mat.core();

@include mat.core-theme(light.$light-theme);
@include mat.button-theme(light.$light-theme);
@include mat.icon-button-theme(light.$light-theme);
@include mat.toolbar-theme(light.$light-theme);
@include mat.tabs-theme(light.$light-theme);
@include mat.input-theme(light.$light-theme);
@include mat.form-field-theme(light.$light-theme);
@include mat.checkbox-theme(light.$light-theme);
@include mat.menu-theme(light.$light-theme);
@include mat.dialog-theme(light.$light-theme);
@include mat.card-theme(light.$light-theme);

@include login.theme(light.$light-theme);
@include btn.theme(light.$light-theme);

@include mat.typography-hierarchy(typography.$docman-typography);


:root {
    --system-preference: undefined
}

@media (prefers-color-scheme: light) {

    :root {
        --system-preference: light
    }
}

@media (prefers-color-scheme: dark) {

    :root {
        --system-preference: dark
    }

}

// @include components.theme(
//   light.$my-app-light-theme,
//   typography.$my-app-typography,
//   light.$my-app-light-variants
// );

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    user-select: none;
}

// Toast

$color-config: mat.get-color-config(light.$light-theme);
$primary-palette: map.get($color-config, "primary");

.hot-toast-bar-base {
    --hot-toast-color: #{mat.get-color-from-palette($primary-palette, A400-contrast)};
    --background-color: #{mat.get-color-from-palette($primary-palette, A400)};
    --background-light-color: #{mat.get-color-from-palette($primary-palette, A100)};

    background: linear-gradient(
        90deg,
        var(--background-color) 68%,
        var(--background-light-color) 100%
    )!important;

    font-weight: bold;

    .hot-toast-close-btn {
        --hot-toast-close-btn-opacity: 1
    }
}

.dark-theme .hot-toast-bar-base {
    @extend .hot-toast-bar-base;
    --hot-toast-color: #{mat.get-color-from-palette($primary-palette, 400-contrast)};
    --background-color: #{mat.get-color-from-palette($primary-palette, 400)};
    --background-light-color: #{mat.get-color-from-palette($primary-palette, 200)};

    .hot-toast-close-btn {
        --hot-toast-close-btn-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
    }
}

.dark-theme .mat-drawer-content {
    --background-color: #{mat.get-color-from-palette($primary-palette, "default")};
}

.mat-drawer-content {
    --background-color: #{mat.get-color-from-palette($primary-palette, 800)};
    overflow: hidden!important;
    .cls-svg-little{
        position: absolute;
        z-index: -1;
        overflow: visible;
        opacity: .8;

        --top: 50%;
        --left: 50%;
        --deg: 360deg;

        stroke: var(--background-color);
        top: var(--top);
        left: var(--left);
        transform: rotate3d(1, 1, 1, var(--deg));
    }
}

// app-users, dlg {
//     h2 {
//         background-color: var(--background-color);
//         color: white!important;
//         margin-bottom: 0rem!important;
//         padding-bottom: 1rem!important;
//         --background-color: #{mat.get-color-from-palette($primary-palette, "default")};
//     }
// }
